@*@model List<Category>

    <div class="list-group">
        @foreach (var item in Model)
        {
            <a class="list-group-item list-group-item-action" href="#">@item.Description</a>
        }
    </div>*@